<div class="comments__comment comments__comment--id-{{ comment.ID }}">
	<div class="comments__comment__author">{{ comment.author.name }} says</div>
	<div class="comments__comment__content">{{ comment.comment_content|wpautop }}</div>
</div>
