{% extends "base.twig" %}
{% block content %}
	<form class="password" action="{{ site.link }}/wp-login.php?action=postpass" method="post">
		<label for="password__input-id-{{ post.ID }}">Password:</label>
		<input class="password__input" name="post_password" id="password__input-id-{{ post.ID }}" type="password" placeholder="Password" size="20" maxlength="20" />
		<input class="password__submit btn btn-primary" type="submit" name="Submit" value="Submit" />
	</form>
{% endblock %}
